* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #181511;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;

}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.navbar {
    width: 100%;
    height: 80px;
    color: #FFAE2B;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    /* 116.667% */
    padding-top: 18 px;
}

.logo {
    margin-right: 42px;
}

.navbar-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    display: flex;

}

.navbar-menu {
    display: flex;
    color: #FFAE2B;
    font-family: Old Standard TT;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 218.182% */
    gap: 28px;
    text-transform: uppercase;
}

.navbar-btn {
    color: #FFAE2B;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding: 15px 25px;
    border: 1px solid #FFAE2B;
    background: none;
    text-transform: uppercase;
}

/* content-start */
.content {
    height: calc(100vh - 80px);
    background-image: url(./img/IMAGE\ \(2\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.content-row {
    padding-top: 120px;
    text-align: center;
}

.content-text {
    color: #FFAE2B;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 183.333% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.content-title {
    color: #FFF;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px;
    /* 114.286% */
    letter-spacing: 1px;
}

.content-btn {
    color: #181511;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 200% */
    text-transform: uppercase;
    padding: 14px 24px;
    background: #FFAE2B;
    border: 0;
    margin-top: 35px;
}

/* /content-end */
/* pages-start */
.pages {
    background: #181511;
}

.pages-content-row {
    padding-top: 120px;
}

.pages-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pages-text {
    color: #ACA592;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 183.333% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.pages-title {
    padding-bottom: 60px;
    color: #FFAE2B;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    /* 116.667% */
}

.col {
    max-width: 387px;
    border: 1px solid #4B4136;
}

.col-title {
    color: #FFF;
    font-family: Old Standard TT;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    /* 176.923% */
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

/* pages-end */
.img {
    height: 573px;
    background-image: url(./img/IMAGE\ \(9\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 121px;
    margin-bottom: 120px;

}

.servise {
    background: #181511;
}

.servise-content {
    text-align: center;
    margin-bottom: 63px;
}

.servise-text {
    color: #ACA592;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 183.333% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.servise-row {
    display: flex;
}

.servise-title {
    color: #FFAE2B;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    /* 116.667% */
}

.servise-col {
    max-width: 400px;
    padding: 61px;
    border: 1px solid #4B4136;

}

.servise-col:nth-child(2) {
    margin-top: 5px;
}

.servise-col:nth-child(3) {
    margin-top: 15px;
}

.servise-col-title {
    color: #FFAE2B;
    font-family: Old Standard TT;
    font-size: 29px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 137.931% */
}

.servise-col-text,
span {
    color: #ACA592;
    font-family: Old Standard TT;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 173.333% */
}

/* footer */
.footer {
    margin-top: 117px;
}

.footer-row {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
}

.logo {
    position: absolute;
    top: -30px;
    left: 90px;
}

/* atlier */
.atiler- {
    text-align: center;

}

.atlier-content {
    text-align: center;
    margin-top: 125px;
}

.atiler-title {
    color: #FFAE2B;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;

    line-height: 70px;
    /* 116.667% */
}

.atiler-text {
    color: #ACA592;
    text-align: center;
    font-family: Old Standard TT;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 233.333% */
    padding-top: 20px;
}
.atlier-box{
    margin: 0 auto;
    margin-top: 83px;
    max-width: 420px;
    height: 100px;
    background-color: #000;
}
.atlier-box1{
    max-width: 420px;
    height: 50px;
    background-color: #fdf10c;
}
.end{
    margin: 0 auto;
}
.end-row{
    display: flex;
justify-content: center;
gap: 8px ;
   
}
.end-col{

    border: 1px solid #4B4136;
    padding: 14px;
}